*/media
*/migrations
*.bak
*.log
*.pot
*.pyc
db.sqlite3
.idea
__pycache__
.env
.venv
env/
venv/
env.bak/
venv.bak/
/site
*.mypy_cache/
*.tmlanguaje.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project
sftp-config-json
.vscode/*
