<!-- nombre_de_la_plantilla.html -->
{% extends 'core/base.html' %}
{% block title %}plantilla{% endblock %}

{% block content %}
{% load static %}
<style>
    /* Estilos para la plantilla */
    form {
      max-width: 400px;
      margin: 0 auto;
      padding: 20px;
      border: 1px solid #ccc;
      border-radius: 5px;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    }
  
    .form-group {
      margin-bottom: 15px;
    }
  
    .form-group label {
      display: block;
      font-weight: bold;
      margin-bottom: 5px;
    }
  
    .form-group input[type="text"],
    .form-group textarea {
      width: 100%;
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 5px;
      font-size: 16px;
      box-sizing: border-box;
      background-color: #fff;
    }
  
    .form-group textarea {
      resize: vertical;
    }
  
    .submit-btn {
      background-color: #007bff;
      color: #fff;
      border: none;
      border-radius: 5px;
      padding: 10px 20px;
      cursor: pointer;
      font-size: 16px;
      transition: background-color 0.3s ease;
    }
  
    .submit-btn:hover {
      background-color: #0056b3;
    }
  </style>
  
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="well well-sm">
          <form method="post">
            {% csrf_token %}
            <div class="form-group">
              <label for="{{ form.name.id_for_label }}">Nombre del proyecto:</label>
              {{ form.name }}
            </div>
            <div class="form-group">
              <label for="{{ form.url.id_for_label }}">Link del proyecto:</label>
              {{ form.url }}
            </div>
            <div class="form-group">
              <label for="{{ form.tecnology.id_for_label }}">Tecnologías utilizadas:</label>
              {{ form.tecnology }}
            </div>
            <div class="form-group">
              <label for="{{ form.description.id_for_label }}">Descripción del proyecto:</label>
              {{ form.description }}
            </div>
            <div class="form-group">
              <input type="submit" value="Guardar" class="submit-btn">
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  

{% for dato in datos_modelo %}
  <div>
    <h2>{{ dato.name }}</h2>
    <p>Tecnologías utilizadas: {{ dato.tecnology }}</p>
    <p>URL: {{ dato.url }}</p>
    <p>Descripción: {{ dato.description }}</p>
    <!-- Otros campos del modelo -->
  </div>
{% endfor %}

{% endblock %}

  

